
.hot-recommend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.HotRecommendWrapper{
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}